body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background 0.5s, color 0.5s;
  background-image: url("./front_photo/front_photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body.dark-mode {
  background-image: url("./front_photo/front_photo_dark.jpg");
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
}

:root {
  --background: #ffffff;
  --text-color: #000000;
  --container-bg: rgba(255, 255, 255, 0.7);
  --question-bg: #f9f9f9;
  --header-bg: #004080;
  --header-text: #ffffff;
  --button-bg: #0780e3;
  --button-text: #ffffff;
  --select_choice-bg1: #ddd;
  --select_choice-bg2: #efefef;
  --select_choice-color: #000;
}

body.dark-mode {
  --background: #000;
  --text-color: #fff;
  --container-bg: rgba(0, 0, 0, 0.7);
  --question-bg: #1e1e1e;
  --header-bg: #2e003e;
  --header-text: #ffffff;
  --button-bg: #ba55d3;
  --button-text: #ffffff;
  --select_choice-bg1: #555;
  --select_choice-bg2: #151515;
  --select_choice-color: #ffffff;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
  color: var(--header-text);
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#themeToggle {
  font-size: 13px;
  background: transparent;
}

.container {
  max-width: 900px;
  margin: 5px auto 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--container-bg);
  color: var(--text-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hidden {
  display: none;
}

input[type="text"] {
  width: 100%;
  padding: 10px 0px;
  font-size: 15px;
  margin-bottom: 15px;
  background-color: var(--container-bg);
  
}

button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--header-bg);
  color: var(--header-text);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.class-block {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--question-bg);
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin: 15px 0;
}